:root{
    --main-color-text: #434455;
    --white-background: #FFFFFF;
    --primary-brand: #4D5AE5;
    --modal-overlay: #2E2F42;
    --pressed-state: #404BBF;
    --light: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color-text);
    background-color: var(--white-background);
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}
button{cursor: pointer;}
/*                                  HEADER                              */
.logo{
    color: var(--primary-brand);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent{
    color: var(--modal-overlay);
}

.header-navigation{
    color: var(--modal-overlay);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-navigation:hover,
.header-navigation:focus{
    color: var(--pressed-state);
}
.header-address{
    font-style: normal;
}

.header-address-link {
    color: var(--main-color-text);
    font-size: 16px;
    font-style: normal;
    /*font-weight: 400; default value*/
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-address-link:hover,
.header-address-link:focus{
    color: var(--pressed-state);
}

/*                                  BODY                                 */

/*                                BODY-HERO                              */
.hero{
    background-color: var(--modal-overlay);
    text-align: center;
}

.hero-title{
    color: var(--white-background);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button{
    color: var(--white-background);
    background-color: var(--primary-brand);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus{
    background-color: var(--pressed-state);
}

/*                          BODY FEATURES SECTION                        */
.main-section-title{
    color: var(--modal-overlay);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.main-section-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*                          BODY PRODUCTS SECTION                        */
.main-title{
    color: var(--modal-overlay);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/*                          BODY TEAM SECTION                        */

.team-section-bg{
    background-color: var(--light);
}
.team-list {
    background-color: var(--white-background);
}

/*                                FOOTER                              */
.footer {
    background-color: var(--modal-overlay);
}

.footer-text{
    color: var(--light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo-accent{
    color: var(--light);
}


/* PORTFOLIO */

.btn-navigation{
    background: var(--light);
    color: var(--primary-brand);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.btn-navigation:hover,
.btn-navigation:focus {
    color: var(--white-background);
    background-color: var(--pressed-state);
}

.portfolio-list {
    background-color: var(--white-background);
}

.portfolio-color {
    color: var(--main-color-text);
}