body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}
/*                                  HEADER                              */
.logo{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent{
    color: #2E2F42;
}

.header-navigation{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-navigation:hover,
.header-navigation:focus{
    color: #404BBF;
}

.header-address{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    /*font-weight: 400; default value*/
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-address:hover,
.header-address:focus{
    color: #404BBF;
}

/*                                  BODY                                 */

/*                                BODY-HERO                              */
.hero{
    background-color: #2E2F42;
    text-align: center;
}

.hero-title{
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

/*                          BODY FEATURES SECTION                        */
.main-section-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.main-section-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

/*                          BODY PRODUCTS SECTION                        */
.main-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: capitalize;
}

/*                          BODY TEAM SECTION                        */

.team-section-bg{
    background-color: #F4F4FD;
}

/*                                FOOTER                              */
.footer {
    background-color: #2E2F42;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.footer-logo-accent{
    color: #F4F4FD;
}


/* PORTFOLIO */

.btn-navigation{
    background: #F4F4FD;
    color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.btn-navigation:hover,
.btn-navigation:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

